body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

#main{
    text-align: center;
}

.Caixa {
    width: 80px;
    border-radius: 15px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
